body {
    background: #f8f9fa;
}

footer, .none01, .img001, #FeaturedPost1 {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    max-width: 100%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    height: 100%;
}

.search-box {
    width: 60%;
    padding: 10px;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}

.search-box:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.question {
    margin-bottom: 10px;
    
    font-weight: bold;
    font-size: 18px;
}

.options {
    list-style-type: none;
    padding: 0;
}

.options li {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: block;
    border: 1px solid #ddd;
    
    transition: background 0.3s;
}

.options li:hover {
   
}

.correct {
    background-color: #d4edda;
    color: #155724;
    font-weight: bold;
    border: 1px solid #c3e6cb;
}

.post-outer-container, .blog-posts {
    background: white;
}

.quiz-item:nth-child(odd) {
    background: #e9ecef;
}

.quiz-item:nth-child(even) {
    background: #f8f9fa;
}

.quiz-item {
    padding: 10px;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.quiz-item:hover {
    background-color: #FFFDD0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.search-container {
    position: sticky;
    top: 0;
    width: 98%;
    background: #fff;
    padding: 10px;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
